#tree  {

    border-collapse: collapse;
}
.table {
    overflow: auto;
    background: #e8edff;
    display: table;
    white-space: normal;
    line-height: normal;
    font-weight: bold;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    background-color: #E8F5FF;
}

img {
    margin-left: 10px;
}

.extrabuttons {
    float: right;
}

.icon {
    background-image: url(../images/glyphicons-halflings.png);
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 5px;
}

.icon-plus-sign {
    background-position: 0 -96px;
}

.icon-minus-sign {
    background-position: -24px -96px;
}

.icon-exclamation-sign {
    background-position: -144px -120px;
}

.table-cell .name {
    display: inline-block;
}

.name {
    text-align: left;
    display: table-cell;
    padding: 10px;
    border: 1px solid rgb(150, 171, 239);
    font-weight: bolder;
}

.name-package {
}

.name-class {
    padding-left: 2em;
}

.name-test {
    padding-left: 4em;
}


.table-row {
    display: table-row;
}

.row-spacing-package {
    height: 14px;
}

.row-spacing-class {
    height: 7px;
}

.row-hidden {
    display: none;
}

.table-cell {
    display: table-cell;
    padding: 7px;
    text-align: center;
    border: 1px solid rgb(150, 171, 239);
}

.build-result, .build-result a {
    font-size: 15px;
    text-decoration: none;
}

a.build-result {
  text-decoration: none;
}

.heading {
    font-weight: bold;
    border-bottom: 2px solid #6678b1;
    background: #e0e6f8;
    text-align: center;
    box-sizing: border-box;
    font-family: Patua One, sans-serif;
    font-size: 15px;
    display: table-row;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(133, 141, 153);
    border-top-left-radius: 5px;
}

.heading .table-cell {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #039;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    margin: 3px;
}

#table-loading {
    margin-left: 20%;
    margin-top: 10%;
}

.thor-passed {
    background: #d4efd4;
}

.thor-failed {
    background: #ffc8c2;
}

.thor-skipped {
    background: #f1ecc4;
}

.thor-na {
    background: #f6f7f7;
}
